body{
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    background-color: #8D9EFF;
}

* {
    box-sizing: border-box;
  }

  header{
    padding: 50px;
    background-image: linear-gradient(
        rgb(72, 72, 112) 0%,
        rgba(232, 102, 236, 0.6) 100%
      );
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
 
    
}  
 h1{
    display: flex;
    align-items: center;
    text-align: center;
    color: azure;

}  

#searchAgain {
   
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   
} 
.containerSecond{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
 
} 



main {
    display: flex;
  }
h2{
    text-align: center;
}
.saleResultsPage{
    display: flex;
    flex-direction: column;
    flex: 70%;
    text-align: center;
    padding: 20px;
    background-color: #8D9EFF;

    width:70%;
    height: 1000px;

    

}

.pastResults{
    display: flex;
    flex-direction: column;
    flex: 30%;
    text-align: center;
    padding: 20px;
    background-color: #B9E0FF;
    height:auto;
    width: 30%;
    height: 1000px;
    border-right:solid  #32a1ce 5px;

}

li{
    list-style: none;
}