body{
    font-family: 'Noto Sans Adlam Unjoined', sans-serif;
    background-color: #8D9EFF;
}

header{
    display: flex;
    background-color: rgb(72, 72, 112);
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    border: 20px;
    width: auto;
    height: 100px;
}
h1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    color: azure;

}

#searchAgain {
   
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   
}
#containerSecond{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    
}
h2{
    text-align: center;
}
#pastResults{
    border-right: 10 px solid black;
    justify-content: center;
}
#salesResultsPage{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    

}